@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
  width: 600px;
  height: 600px;
}
.contenedor {
  color: #000000;
  background-color: #f3f3f3;
  border-radius: 15px;
  width: 350px;
  position: relative;
  margin: 400px;
}
.num {
  font-size: 150px;
}
#symbol {
  margin-left: 5%;
}
#numero {
  margin-left: 40%;
}
#symbol2 {
  margin-left: 65%;
}
